<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="qc:admins" content="210003765762050006375">
    <title>严欢是猪官网</title>
    <meta name="keywords" content="严欢是猪"/>
    <meta name="renderer" content="webkit">
    <meta name="description" content="严欢是猪"/>
  </head>
  <body>
    挂机列表
    <br/>
    <span style="color:red;font-size:14px;">
      <% @game_run_logs.each do |id| %>
        <a href="/detail?id=<%=id%>"><%=id%></a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
      <% end %>
    </span>
    <hr>
    挂机详情 - <%= @game_run_log[0].no%> - <%= @game_run_log[0].user%>
    <br/>
    <span style="font-size:14px;">
      <% i = @game_run_log.size %>
      <% @game_run_log.each do |log| %>
        <%= "#{i} - #{log.created_at.to_s(:local)} - [#{log.log}]"%>
        <% i = i - 1 %>
        <br/>
      <% end %>
    </span>
  </body>
</html>
